{{ if .Get "titel" }}
	<div class="rule box">
		<label class="title-bar">
			<input type="checkbox">
			<div class="title">
				<div class="line before blue"></div>
				<p>{{ .Get "titel" -}}</p>
				<div class="line after blue"></div>
				<object class="arrow up" data="/img/arrow-up.svg" type="image/svg+xml"></object>
				<object class="arrow down" data="/img/arrow-down.svg" type="image/svg+xml"></object>
			</div>
			<p>
				{{ .Inner -}}
			</p>
		</label>
	</div>
{{ else }}
	<div class="rule box title-bar">
		<div class="title">
			<div class="line before grey"></div>
			<p>{{ .Inner -}}</p>
			<div class="line after grey"></div>
		</div>
	</div>
{{ end }}