{{ if .Get "titel" }}
	<div class="rule box">
		<label class="title-bar">
			<input type="checkbox">
			<div class="title">
				<div class="line before blue"></div>
				<p>{{ .Get "titel" -}}</p>
				<div class="line after blue"></div>
				{{ partial "img.html" (dict "class" "arrow up" "src" "/img/arrow-up.svg" "type" "svg+xml") }}
				{{ partial "img.html" (dict "class" "arrow down" "src" "/img/arrow-down.svg" "type" "svg+xml") }}
			</div>
			<p>
				{{ .Inner -}}
			</p>
		</label>
	</div>
{{ else }}
	<div class="rule box title-bar">
		<div class="title">
			<div class="line before grey"></div>
			<p>{{ .Inner -}}</p>
			<div class="line after grey"></div>
		</div>
	</div>
{{ end }}