.page-content {
	margin-top: 40px;

	display: grid;
	grid-gap: 12px 40px;
	
	grid-template-columns: 3fr 2fr;
	grid-template-rows: auto 80px auto 80px;
	grid-template-areas:
		"heading heading"
		"fl1 fr"
		"fl2 fr"
		"gr1 gr1"
		"gl gl"
		"gr2 gr2";
}

.center {
	margin: auto;
	text-align: center;
	position: relative;
}

.alone {
	margin-top: 40px;
	margin-bottom: 40px;
}

.preview {
	outline: 1px solid#565758;
	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.295);
}

.page-content > .heading {
	grid-area: heading;
	width: 100%;
	position: relative;
	text-align: center;
	margin-bottom: 30px;
}

.flyer-1 {
	grid-area: fl1;
	overflow: hidden;
}

.flyer-2 {
	grid-area: fl2;
}

.flyer-right {
	grid-area: fr;
	width: 100%;
}

.flyer-right > a > img {
	max-width: 100%;
}

.g-1 {
	grid-area: gr1;
	width: 100%;
}

.g-2 {
	grid-area: gr2;
}

.g-left {
	grid-area: gl;
	width: 100%;
	max-width: 850px;
}

@media only screen and (max-width: 750px) {
	.page-content {
		grid-template-rows: auto 80px auto auto 80px;
		grid-template-areas: 
		"heading heading"
		"fl1 fl1"
		"fr fr"
		"fl2 fl2"
		"gr1 gr1"
		"gl gl"
		"gr2 gr2";
	}
}
